.navbar-custom-menu > .navbar-nav > li > .dropdown-menu {
    position: absolute;
    right: 0;
    left: auto;
    width: 200px;
}

.is-invalid {
    color: red;
}

.base-color {
    color: #BE1E2D;
}

.base-bg {
    background: #BE1E2D;
}

.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 16px;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 5px !important;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

.navbar-nav {
    display: -ms-flexbox;
    display: inline-flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 0;
    margin: 0;
    list-style: none;
}

.dropdown-menu {
    /* box-shadow: none; */
    border-color: #eee;
}

.open > .dropdown-menu {
    display: block;
}

.main-header .navbar {
    -webkit-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;
    margin-bottom: 0;
    margin-left: 230px;
    border: none;
    min-height: 50px;
    border-radius: 0;
    padding: 0;
}

/*for nav alert icon and user menu horizontal space*/
.nav > li > a {
    position: relative;
    display: block;
    padding: 12px 15px;
}

.main-header .sidebar-toggle {
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 12px 15px;
    font-family: fontAwesome;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 0rem;
    list-style: none;
    background-color: white;
    border-radius: .25rem;
}

.breadcrumb pre {
    display: block;
    font-size: 87.5%;
    color: #212529;
    margin: 2px;
}

.swal-footer {
    text-align: right;
    padding-top: 13px;
    margin-top: 13px;
    padding: 13px 16px;
    border-radius: inherit;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    text-align: center;
}

.nav-pills .nav-item .profile-pill {
    background: #f7f7f7;
}

.nav-pills .active .profile-pill {
    color: #fff;
    background-color: #007bff;
}

/* table action button border*/
.table a .btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid;
}

.dt-buttons .btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid;
}

.navbar-custom-menu .store-logout-menu .btn {
    padding: 0;
}

.navbar-custom-menu .store-logout-menu ul {
    padding: 0;
}

.select2-container--default .select2-selection--single, .select2-selection .select2-selection--single {
    border: 1px solid #d2d6de;
    border-radius: 0;
    padding: 6px 12px;
    height: 40px !important;
    border-radius: 5px;
}

/*.card {
    margin-bottom: 30px;
    box-shadow: 0 8px 16px 0 rgba(40, 40, 90, .09), 0 3px 6px 0 rgba(0, 0, 0, .065);
    border: none;
}*/

.body-color {
    /*background: #d2d6de;*/
    background: #ecf0f5;
}

/*print media*/
.print_container {
    display: none;
}

@media print {
    .print_container {
        display: inline !important;
    }

    .modal-xl {
        width: 100% !important;
    }

    ::-webkit-scrollbar {
        display: none !important;
    }
}

/* for new theme of maan */

.skin-green .main-header .navbar {
    background-color: #fff;
    color: #1f2d3d;
    border-bottom: 1px solid #dee2e6;
}

.skin-green .main-header .logo {
    background-color: #1C2A4F;
}

.skin-green .sidebar-menu > li.header {
    color: #4b646f;
    background: #1C2A4F;
}

.skin-green .wrapper, .skin-green .main-sidebar, .skin-green .left-side {
    background-color: #1C2A4F;
}

.skin-green .sidebar-menu > li.active > a {
    color: #fff;
    background: #8c54ff;
}

.skin-green .sidebar-menu > li.active:hover > a {
    color: #fff;
    background: #8c54ff;
}

.skin-green .sidebar-menu > li > .treeview-menu {
    margin: 0 1px;
    background: #1C2A4F;
}

.skin-green .sidebar-menu > li > .treeview {
    background: #1C2A4F;
}

.skin-green .sidebar-menu > li > a {
    border-left: 3px solid transparent
}

.skin-green .sidebar-menu > li:hover > a {
    color: #fff;
    background: #1C2A4F
}

.skin-green .main-header .navbar .sidebar-toggle {
    color: #1f2d3d;
}

.skin-green .main-header .navbar .nav > li > a {
    color: #1f2d3d;
}

.skin-green .main-header .navbar .sidebar-toggle:hover {
    color: #f6f6f6;
    background: rgba(0, 0, 0, 0.1)
}

.skin-green .main-header .navbar .sidebar-toggle:hover {
    background-color: #8c54ff
}

.skin-green .main-header .logo {
    background-color: #1C2A4F;
    color: #fff;
    border-bottom: 0 solid transparent
}

.skin-green .main-header .logo:hover {
    background-color: #8c54ff
}

.skin-green .main-header li.user-header {
    background-color: #8c54ff;
}

/* end maan new theme */


#pos_form .selectedProductTableContainer, #pos_edit_form .selectedProductTableContainer {
    max-height: 300px;
    overflow-x: auto;
    overflow-y: auto;
}

#pos_form #selectedProductTable thead, #pos_edit_form #selectedProductTable thead {
    background: lightskyblue;
}

#pos_form #selectedProductTable, #pos_edit_form #selectedProductTable {
    border-bottom: 2px dotted skyblue;
    border-left: 2px dotted skyblue;
    border-right: 2px dotted skyblue;
}

@media (min-width: 776px) {
    .modal-dialog {
        max-width: 700px;
    }
}

/* table action button */
.table.p-table ul li a.action {
    display: inline-block;
    padding: 4px 8px;
    color: #FFFFFF;
    font-size: 12px;
    border-radius: 5px;
    background: none;
}

/* table header */
#mDataTable.table.p-table thead tr th {
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    border-bottom: none;
}

#mDataTable.table.p-table thead tr th:before, #mDataTable.table.p-table thead tr th:after {
    font-weight: 600;
}

/* jquery validation */
label.error {
    color: red;
    font-size: 1rem;
    display: block;
    position: absolute;
    margin-top: 50px;
}

input.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}

/* laravel 8 validation error message */
.input-group .invalid-feedback {
    width: 100%;
    margin-top: .25rem;
    font-size: .875em;
    color: #dc3545;
    font-weight: 700;
}

/* nav pills */
.nav-pills .nav-link {
    width: -webkit-fill-available;
}

/* product add form */
form.add-brand-form .from-all-btn input {
    padding: 13px 20px;
    color: #FFFFFF;
    font-weight: 500;
    border: 1px solid #BE1E2D;
    border-radius: 5px;
    background: #BE1E2D;
    margin: 10px 0px 5px 5px;
}

form.add-brand-form .text-red {
    color: red;
    font-weight: 400;
    font-size: medium
}

form.add-brand-form .add-input .btn-clone {
    width: 40px;
    height: 40px;
    right: 4px;
    line-height: 40px;
}

.add-input .error {
    margin-top: 5px;
}

form.add-brand-form .add-input [data-select2-id] + .error {
    margin-top: 30px;
}

/* website header*/

#header .check-toggle-btn .form-switch {
    display: inline-block;
    margin-left: 10px;
}

#header .check-toggle-btn {
    margin: 10px;
}

/* menu title */
.side-bar .side-bar-manu ul li a .title {
    margin: 0px 5px;
}

/* datatable sorting icon */
#mDataTable.table.p-table thead tr th:before, #mDataTable.table.p-table thead tr th:after {
    font-weight: 600;
    font-family: fantasy;
    top: 7px;
}

.login-section .content-body .p-tab-manu {
    padding: 0;
    border-bottom: none;
}

.login-section .content-body {
    margin: 5px 0 15px 0;
}

.login-section .content-body .container {
    width: auto;
}

.login-section .content-body .p-tab-manu button {
    padding: 10px;
}

/*form input capitalization*/
form .input-group input[type=email] {
    /*color: #5D6881;*/
    /*border-color: #E2E5EC;*/
    /*border-radius: 5px;*/
    text-transform: none;
}

.side-bar .side-bar-logo a img {
    /*background-color: white;*/
}

/* product image add */
form .sm-title-group span.product_image {
    font-size: 13px;
    font-weight: 400;
    color: #BE1E2D;
}

#productForm .image-uploader.has-files .upload-text {
    display: flex;
}

#productForm .image-uploader .upload-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* order list first column left alignment */

#order-list #mDataTable td:nth-child(1), #pending #mDataTable td:nth-child(1), #confirmed #mDataTable td:nth-child(1), #processing #mDataTable td:nth-child(1)
, #picked #mDataTable td:nth-child(1), #shipped #mDataTable td:nth-child(1), #delivered #mDataTable td:nth-child(1), #cancelled #mDataTable td:nth-child(1), #order-report #mDataTable td:nth-child(1) {
    text-align: left;
}
#mDataTable span{
    font-weight: bold;
}
/*invoice pdf btn */
.invoice .invoice-title .invoice-pdf-btn {
    color: #FFFFFF;
    background: #1B5A4E;
}
.invoice .invoice-title button {
    padding: 12px 15px;
    border: none;
    text-transform: capitalize;
}

.invoice .invoice-title p, .invoice .invoice-title button {
    margin-bottom: 30px;
}
/* select2 overflow fix */
.select2-container .select2-search--inline .select2-search__field {
    margin-top: -3px;
    height: 36px;
    vertical-align: center;
}
form.add-brand-form .input-group textarea {
     height: 147px;
}
#order_details .selected {
    background-color: #fda230;
}
#order_details tr {
    cursor: pointer;
}

#resetForm .form-control-position {
    position: absolute;
    top: 15px;
    z-index: 2;
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0px 5px;
}

#resetForm .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 1.50rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}


.hide-pas img:last-child,
.hide-pass img:last-child{
    display: none;
}
.show-pas img:first-child,
.show-pass img:first-child{
    display: none;
}
.show-pass img:last-child{
    display: block;
}
