    /*
    Flaticon icon font: Flaticon
    Creation date: 31/03/2019 11:59
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-vAreant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-shopping-cart:before { content: "\f100"; }
.flaticon-television:before { content: "\f101"; }
.flaticon-shopping-online:before { content: "\f102"; }
.flaticon-factory-stock-house:before { content: "\f103"; }
.flaticon-box:before { content: "\f104"; }
.flaticon-maintenance:before { content: "\f105"; }
.flaticon-list:before { content: "\f106"; }
.flaticon-shipped:before { content: "\f107"; }
.flaticon-money:before { content: "\f108"; }
.flaticon-money-1:before { content: "\f109"; }
.flaticon-sponsor:before { content: "\f10a"; }
.flaticon-salary:before { content: "\f10b"; }
.flaticon-expensive:before { content: "\f10c"; }
.flaticon-calculator:before { content: "\f10d"; }
.flaticon-diagram:before { content: "\f10e"; }
    
    $font-Flaticon-shopping-cart: "\f100";
    $font-Flaticon-television: "\f101";
    $font-Flaticon-shopping-online: "\f102";
    $font-Flaticon-factory-stock-house: "\f103";
    $font-Flaticon-box: "\f104";
    $font-Flaticon-maintenance: "\f105";
    $font-Flaticon-list: "\f106";
    $font-Flaticon-shipped: "\f107";
    $font-Flaticon-money: "\f108";
    $font-Flaticon-money-1: "\f109";
    $font-Flaticon-sponsor: "\f10a";
    $font-Flaticon-salary: "\f10b";
    $font-Flaticon-expensive: "\f10c";
    $font-Flaticon-calculator: "\f10d";
    $font-Flaticon-diagram: "\f10e";